@model OnlineTicariOtomasyon.Models.Siniflar.Urun

@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
</br>
<h2>Yeni Ürün Sayfası</h2>
</br>
<form class="form-group" method="post">
    @Html.LabelFor(x => x.UrunAd)
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.UrunMarka)
    @Html.TextBoxFor(x => x.UrunMarka, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.UrunStok)
    @Html.TextBoxFor(x => x.UrunStok, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.UrunAlisFiyat)
    @Html.TextBoxFor(x => x.UrunAlisFiyat, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.UrunSatisFiyat)
    @Html.TextBoxFor(x => x.UrunSatisFiyat, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.Kategori)
    @Html.TextBoxFor(x => x.Kategori.KategoriId, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.UrunGorsel)
    @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })
    </br>
    @Html.LabelFor(x => x.UrunDurum)
    @Html.TextBoxFor(x => x.UrunDurum, new { @class = "form-control" })
    </br>
    <button class="btn btn-primary">Kaydet</button>
</form>

